RewriteEngine On
RewriteRule ^tiempo/([a-zA-Z_]+)/([a-zA-Z_]+)$ /tiempo/tiempo.php?provincia=$1&ciudad=$2 [L]
RewriteRule ^catalogo/([a-zA-Z_]+)/([a-zA-Z_]+)/(.*)/(.*)$ /catalogo/catalogo.php?cat=$1&subcat=$2&id=$3&nombre=$4 [L]
